<!DOCTYPE html>
<html lang="es">
  {{> head }}
  <body>
    {{> navbar }}

    <div class="alert alert-info" role="alert">
      A simple info alert—check it out! {{name}}
    </div>

    <h1>About</h1>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
      <p>{{year}}</p>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
